# Visual Studio
bin/
obj/
.vs/
*.user
*.suo

# Ignore compiled DLLs you don’t want to ship
# *.dll
# !lib/BepInEx.dll
# !lib/0Harmony.dll

# Ignore Unity / game assemblies
Assembly-CSharp.dll
Unity*.dll